body{
    background-image:url('../img/03.jpg');
    background-repeat: repeat-x;
}


input[type="text"]{
    box-sizing: border-box;
    text-align:center;
    font-size:1.4em;
    height:1.5em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    display:block;
    width:100%;
    outline: none;

}

input[type="text"]:focus{
    border:1px solid #6a6f77;

}

input[type="button"]{
    float:right;
    margin-right:200px;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: right;
    background-image: none;
    border: 5px  transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}


div.container
{
    width:100%;
    margin:0px;
    line-height:150%;
}

.divleft{
    border-radius:4px;
    float:left;
    width:50%;
    padding-left:10%;
    padding:1em;
    height:50%;
}

.divright{
    border-radius:4px;
    margin-left:50%;
    padding:1em;

    height:50%;
}


.tabout{
    border:10px;
    margin-left:40%;
}
#td1{
    text-align:center;
    /*background-color: skyblue;*/
    background-color: powderblue;
    border-radius:4px;
}

